{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load custom_tags %}
{% block title_block %}Add Quiz{% endblock %}
{% block style_block %}
{% endblock %}
{% block body_block %}
    <div class="container">
        <h3>Create a Quiz</h3>
        <form method="POST">
            {{ form|crispy }}
            {% csrf_token %}
            <input class="btn btn-success btn-sm mt-2" type="submit" value="Create Quiz" />
        </form>
    </div>
{% endblock %}
{% block script_block %}{% endblock %}