{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title_block %}Add Article{% endblock %}
{% block style_block %}{% endblock %}
{% block body_block %}
    <div class="container">
        <h3>Edit this article</h3>
        <form method="POST" enctype="multipart/form-data">
            {{ form|crispy }}
            {% csrf_token %}
            <input class="btn btn-success btn-sm mt-2" type="submit" value="EDIT ARTICLE" />
        </form>
    </div>
{% endblock %}
{% block script_block %}
    <script>
    </script>
{% endblock %}